/*
Автор: Видякина Ксения
Создано: 23.04.2020
Последнее изменение: Видякина К. А. 25.04.2020
*/
body {
	width: 100%;
	height: 100%;
	background: white;
	position: absolute;
	font-family: Arial;
}
header {
	width: 100%;
	background: #294079;
	height: 80px; 
}
.head {
	width: 1200px;
	height: 80px;
	margin: 0px auto;
	line-height: 50px;
	vertical-align: middle;
}

.titlewww {
	margin-top: 10px;
	margin-left: 40px;
	width: auto;
    height: 50px;
}

.texth1 {
	position: absolute;
	top: 20px; 
    height: 50px; 
    margin-left: 300px;
	font-size: 18px;
	color: white;
}
.texth2 {
	position: absolute;
	top: 20px; 
    height: 50px; 
    margin-left: 450px;
	font-size: 18px;
	color: white;
}
.texth3 {
	position: absolute;
	top: 20px; 
    height: 50px; 
    margin-left: 640px;
	font-size: 18px;
	color: white;
}
.bell {
	display: inline-block;
	width: 50px;
	height: 50px;
	float:right;
	border-radius: 50px;
	margin-top: 15px;
	margin-right: 40px;

}
.photo {
	display: inline-block;
	width: 50px;
	height: 50px;
	float: right;
	border-radius: 50px;
	margin-top: 15px;
	margin-right: 50px;
}

.body {
	width: 900px;
	margin: 50px auto;
	padding: 40px; 
	border: 5px #294079 solid;
}
.title {
	font-size: 28px;
	color: #052da6;	
}
.block1 {
	font-size: 20px;
	margin-top: 10px;
}
.block2 {
	font-size: 20px;
	margin-top: 10px;
}
.block3{
	font-size: 20px;	
	margin-top: 10px;
}
.block1 textarea {
	font-size: 18px; 
	padding: 15px;
	color: grey;
	resize: none;
	width: 700px;
	height: 12px;
}
.block2 textarea {
	font-size: 18px; 
	padding: 15px;
	color: grey;
	resize: none;
	width: 700px;
	height: 60px;
}
.block3 textarea {
	font-size: 18px; 
	padding: 15px;
	color: grey;
	resize: none;
	width: 200px;
	height: 12px;
}
#button {
	width: 300px;
	height: 60px;
	margin-top: 20px;
	font-size: 28px;
	color: white;
	background-color: #0468bf;
	font-family: Arial;
}
